@font-face {
  font-family: "HyundaiSansTextKR";
  font-display: fallback;
  src: url("./HyundaiSansTextKR-Regular.eot?iefix") format("embedded-opentype"),
    url("./HyundaiSansTextKR-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
